body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 1440px;
    text-align: center;
}

.header__descr {
    text-align: center;
  
}

.header__text {
    color: red;
}